.benefits-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  scrollbar-width: none; 
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  list-style: none; 
  -webkit-overflow-scrolling: touch;
}

.benefits-slider::-webkit-scrollbar {
  display: none;
}

.benefits-item {
  scroll-snap-align: start;
  list-style: none; 
}

.benefits-card {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 3rem 4rem;
  border-radius: 0.8rem;
  background: rgb(var(--color-background));
  border: 1px solid rgba(var(--color-foreground), 0.08);
  width:350px;
  height:200px;
}

.benefits-card__icon {
  width:60px;
  height: 60px;
  padding:10px;
  color:black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-card__content p  {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
}


@media screen and (min-width: 990px) {
  .benefits-slider.grid--desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow-x: visible;
    gap: 2rem;
  }
  
  .benefits-slider.grid--desktop .benefits-item {
    width: 100%;
  }
}