.article-card-wrapper {
  height: 100%;
}

.article-card-wrapper .card {
  position: relative;
  display: flex !important;
  flex-direction: column;
  overflow: hidden;
  border-radius: 24px !important; 
  border: none !important;
  height: 100% !important;
  background-color: transparent;
}

.article-card .card__inner {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
}

.article-card .card__media {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

.article-card .card__media .media {
  height: 100%;
  position: relative;
  bottom: 0;
  top: 0;
}

.article-card .card__media .media img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.article-card .card__content {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end; 

  box-sizing: border-box;
}

.article-card .card__heading,
.article-card .article-card__info,
.article-card .article-card__excerpt,
.article-card .caption-with-letter-spacing {
  color: #ffffff !important;
  text-align: left;
}

.article-card .card__heading {
  margin-bottom: 0.5rem;
  line-height: 1.1;
}

.article-card .article-card__info {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  opacity: 0.8;
}

.article-card-wrapper .card__content .card__information{
  background:rgba(0,0,0,0.6);
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}

@media screen and (min-width: 990px) {
  .blog-grid--featured {
    display: grid !important;
    grid-template-columns: 1fr 0.5fr 0.5fr !important;
    grid-template-rows: repeat(2, 300px) !important;
    gap: 20px !important;
    list-style: none;
    padding: 0;
  }

  .blog-grid--featured .blog__post.grid__item {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .blog-grid--featured .blog__post:nth-child(1) {
    grid-column: 1 / 2 !important;
    grid-row: 1 / 3 !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .blog-grid--featured {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 15px !important;
  }
  .blog-grid--featured .blog__post:nth-child(1) {
    grid-column: span 2 !important;
  }
}