.newsletter-banner__wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 20px; /* Bordes redondeados del banner completo */
  background-color: #ebebeb; /* Color de fondo similar a la imagen */
  min-height: 400px;
}

.newsletter-banner__media {
  flex: 1 0 50%;
  min-height: 300px;
}

.newsletter-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsletter-banner__content {
  flex: 1 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  text-align: left;
  background:white;
}

.newsletter-banner__box {
  max-width: 500px;
}

.newsletter-banner__heading {
  margin-top: 0;
  font-weight: 500;
  letter-spacing: -1px;
}

/* Estilo del Input */
.newsletter-banner__form .field {
  background-color: #3e3e3e; /* Color oscuro del botón/input */
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.newsletter-banner__form .field__input {
  background: transparent;
  color: white;
  border: none;
  padding: 1.5rem 2.5rem;
  box-shadow: none !important;
}

.newsletter-banner__form .field__input::placeholder {
  color: #cccccc;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* Botón de envío circular */
.newsletter-banner__button {
  background-color: #62d261; /* Color verde vibrante */
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  transition: transform 0.2s ease;
}

.newsletter-banner__button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 749px) {
  .newsletter-banner__wrapper {
    flex-direction: column;
  }
  .newsletter-banner__media, .newsletter-banner__content {
    flex: 1 0 100%;
  }
}